* {
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  list-style: none;
}

#main {
  width: 400px;
  border: 1px solid black;
}

.row {
width: 400px;
height: 10px;
}

.row div {
  height: 10px;
  float: left;
  width: 10px;
}

.snake {
  background: green;
  border-radius: 2px;
}

.cell {
}

.apple {
  background: red;
  border-radius: 50%;
}

.score {
  color: green;
}

.paused:before {
  position: absolute;
  top: 100px;
  content: "Paused";
  text-align: center;
  font-size: 120px;
  color: red;
  margin: auto;
}

#leaderboard{
}

#instructions {
}
